name: Publish And Deploy Demo
on:
  push:
    branches:    
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # 部署到服务器
    - name: AutoDeploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        debug: true
        script: |
          cd /tmp
          rm -rf auto-deploy-vue
          git clone https://github.com/Neekky/auto-deploy-vue.git
          cd /tmp/auto-deploy-vue
          chmod +x ./deploy.sh
          ./deploy.sh